python-telegram-bot[job-queue]
firebase-admin
python-dotenv
requests
aiohttp
Flask
httpx
waitress
websockets
rich
helius-sdk
solders
gunicorn
joblib
pandas
numpy
scikit-learn
xgboost
twikit
joblib
numpy
pandas
flask
scikit-learn
twikit==2.3.3
xgboost==3.1.1
scikit-learn==1.7.2
fastapi
uvicorn
aiofiles
supabase
base58
solana
cryptography











